<div id="login-container" class="ui grid">
	<div class="row">
	</div>
	<div class="login row">
		<div class="five wide column">
		</div>
		<div class="six wide column">
			Inicia Sesión
			<div class="oc-error" ng-show="userTaken === true">
				El usuario ya está en uso
			</div>
			<form name="chatLogin" class="ui form" ng-submit="chatLogin.$valid && lc.login()" novalidate>
				<div class="field">
				  <input type="text" id="user" ng-class="{invalid: !chatLogin.$valid}"	ng-model="lc.current_user.name" maxlength="20" send-on-enter required>
				  <input id="userLogin" type="submit" value="Enviar">
				</div>
			</form>
		</div>
		<div class="five wide column">
		</div>
	</div>
	<div class="row">
	</div>
</div>